[Desktop Entry]
Encoding=UTF-8
Name=Link to M0_1.e+6mu0_1.e+1e0_0.3S_1e_3_fisher.pdf
Type=Link
URL=https://github.com/GenliangLi/MatBYIB/blob/main/examples/M0_1.e%2B6mu0_1.e%2B1e0_0.3S_1e_3_fisher.pdf
Icon=text-html
